{$APP_PUBLIC_HOST:http://localhost} {
    encode zstd gzip
    handle /api/* {
        reverse_proxy api:8000
    }
    handle /ws/* {
        reverse_proxy api:8000
    }
    handle {
        reverse_proxy frontend:3000
    }
}
